NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/updown
JWT_ACCESS_SECRET=adc_dev_updown_access_secret_key_min_32_char
JWT_REFRESH_SECRET=adc_dev_updown_refresh_secret_key_min_32_char
CLIENT_URL=http://localhost:5173
